<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vice Frontend Exercise</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <!-- ExtractTextWebpacked css and sass -->
    <link href="stylesheets/main-one.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="">Vice Frontend Exercise</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- vue app container starts -->
    <div class="container" id="app">

<!--
      <featured-video v-if="showFeaturedVideo"></featured-video>
-->
      <div class="row v-cloak--block" v-cloak>
        <div class="col-md-8">
            <h1>{{ featured.title }}</h1>
            <h2>Episodes: {{ featured.episodes }}</h2>
            <img class="img-responsive featuredvideo" v-bind:src="featured.product_image_url" alt="">
          </div>
        </div>

        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Videos</h3>
            </div>

            <template v-for="(item, index) in medialist">
              <div class="col-sm-3 col-xs-6">
                <p>{{ item.title }}</p>
                <p>Episodes: {{ item.episodes }}</p>
               <a :href="'?id=' + item.id" v-on:click.prevent="submit($event)">
                <!--   <a href="#"> -->
                      <img class="img-responsive portfolio-item" :id="index" v-bind:src="item.product_image_url" alt="">
                  </a>
              </div>
            </template>

        </div>
        <!-- /.row -->
        <hr>

    </div>
    <!-- /.vue app container ends-->

    <script style="text/javascript" src="bundle.js"></script>


</body>

</html>
